header, .body,  .topnav, footer{
    width: 980px;
    border: solid 1px blue;
    margin: 5px auto;
}

.topnav{
    height: 50px;
}

header{
    height: 100px;
}

.body{  
    height: 550px;
    display: flex;
}

footer{
    height: 70px;
}

nav{
    width: 200px;
    height: 550px;
    border-right: 1px solid black;
}

article{
    width: 780px;
    min-height: 500px;
    border: 1px solid blue;
}

article p {
    margin: 20px;
}